*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: whitesmoke;
}

/*dimensione immagini*/
img{
    height: 800px;
    width: auto;
}

.prodotti {
    margin: 2rem;
    text-align: center;
}
  
.prodotto {
    display: inline-block;
    margin: 0.5rem;
}

.image{
    position: relative;
}
/*badge cuore*/
.quadrato{
    background-color: white;
     width: 50px;
     height: 50px;
     position: absolute;
     right: 0px;
     top: 20px;
}
 
 .heart{
    line-height:50px;
    font-size: 2rem;
    line-height: 50px;
}  
/* badge sconti e sostenibilità*/
.sales{
    background-color:red;
    color: white;
    width: 60px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    line-height: 30px;
}

.green{
    background-color: green;
    color: white;
    height: 30px;
    width: 100px;
    position: absolute;
    left: 65px;
    bottom: 15px;
    line-height: 30px;
    
}

.green2{
    background-color: green;
    color: white;
    height: 30px;
    width: 100px;
    position: absolute;
    left:0%;
    bottom: 15px;
    line-height: 30px;
}

.prezzo{
    color: red;
    margin-right: 5px;
}

/******hoverlay****/
.second{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right:0%;
    visibility: hidden;
}

.image:hover .second{
    visibility:visible;
}

.brand{
    text-align: left;
}

footer{
    text-align:center
}